// =============================================
//              Mixins
// =============================================

// Gives Images a popUp effect
@mixin img-effect() {
  transition-duration: .6s;
  transition-delay: .1s;

  // Active state effects
  &:hover {
    box-shadow: 0 .25em .5em 0 rgba(black, .5);
    transform: scale(1.10);
  }
}
