/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Fonts
$base-font: 'Lato', sans-serif;

// Colors

$color-text: #777;
$color-frame: #ccc;