/* ============================================= */
/*              Search Bar Layout                */
/* ============================================= */

#search {
  // Positioning
  margin: 30px auto;
  padding: 10px;
  grid-area: search-bar;

  // Display & Box Model
  display: block;
  width: 45vw;
  max-width: 450px;
  border: 2px solid #3a4f33;
  border-radius: 5px;
  color: #33414f;
  &::placeholder {
    color: rgba(128, 36, 0, 0.8);
    font-weight: bold;
  }

  // Search bar Icon Layout & Style
  background-image: url("../icons/magnifying-glass-solid.svg");
  background-position: right 25px bottom;
  background-repeat: no-repeat;
  background-origin: content-box;

  // Active States Effects
  &:focus,
  &:hover {
    background-color: rgba(206, 181, 58, 15%);
    outline: none;
  }
}