/* ============================================= */
/*              Grid Layout                      */
/* ============================================= */

.container {
  // Positioning
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;

  // Display & Box Model
  display: grid;
  //grid-template-columns: repeat(auto-fit, 200px);
  //grid-auto-columns: ;
  grid-auto-rows: 200px;
  gap: 1.5rem;

  // effects
  & a {
    @include img-effect();
  }

  //TODO remove white space on rounded corners
  //& img {
  //border-radius: 5px;
  //}
}

