/* ============================================= */
/*              Grid Layout                      */
/* ============================================= */

.container {
  // Positioning
  justify-content: center;
  padding-right: .5rem;
  padding-left: .5rem;

  // Display & Box Model
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, min-content));
  grid-template-rows: 200px;
  gap: 1.5rem;

  // Other
  & a  {
  @include img-effect();
  }
}